<!DOCTYPE html>
<html>
<head>
    <title>Course View</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <meta name="csrf-token" content="<%= csrfToken %>">
</head>
<body class="bg-gray-100">
    <%- include("header.ejs") %>
    <div class="min-h-screen bg-gray-100 flex flex-col items-center">
        <div class="max-w-3xl w-full bg-white p-6 rounded-lg shadow-md mt-8">
            <h1 class="text-3xl text-gray-800 font-bold mb-4"><%= course.title %></h1>
            <div class="grid grid-cols-1">
                <% chapters.forEach(function(chapter) { %>
                    <div class="bg-white border border-gray-300 rounded-lg p-4 mb-4">
                        <h2 class="text-lg font-bold mb-2"><%= chapter.title %></h2>
                        <% chapter.pages.forEach(function(page) { %>
                            <a href="/viewpage/<%= course.id %>/<%= chapter.id %>/<%= page.id %>" class=" text-blue-500 hover:none ">
                                <div class="bg-white border border-gray-300 rounded-lg p-4 mb-4 bg-gray-100 hover:bg-gray-200 hover:text-black-200 ">
                                        <%= page.title %>        
                                </div>
                            </a>
                        <% }); %>
                    </div>
                <% }); %>
            </div>

            <!-- Buttons to create another chapter and complete creating the course -->
            <div class="mt-2 flex justify-evenly">
                <a href="/course/<%= course.id %>/chapter" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Create Another Chapter
                </a>
                <a href="/complete/course" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Complete Creating Course
                </a>
            </div>
            
        </div>
    </div>
</body>
</html>
