<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= course.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">
    <%- include("header.ejs") %>
    <div class="max-h-screen bg-gray-100 flex flex-col items-center">
        <a href="/home" class="text-green-600 hover:text-green-800 underline underline-offset-4 font-semibold font">Back to Home</a>
    </div>
    <div class="min-h-screen bg-gray-100 flex flex-col items-center">
        <div class="max-w-3xl w-full bg-white p-6 rounded-lg shadow-md mt-8">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-3xl text-gray-800 font-bold"><%= course.title %></h1>
                <!-- <div class="flex space-x-4">
                    <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md">Edit</button>
                    <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md">Delete</button>
                </div> -->
            </div>
            <h3 class="text-xl font-semibold mt-12 mb-8">Chapters :</h3>
            <% if (chapters && chapters.length > 0) { %>
                <ul>
                    <% chapters.forEach(function(chapter) { %>
                        <li>
                            <div class="bg-gray-200 p-4 rounded hover:bg-gray-300 transition ease-in-out mb-4 cursor-pointer">
                                <a href="/echapter/view/<%= chapter.courseId %>/chapter/<%= chapter.id %>">
                                    <h2 class="text-lg font-bold flex">
                                        <%= chapter.title %>
                                    </h2>
                                </a>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No chapters available</p>
            <% } %>
    </div>
</body>
</html>
