<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        .page-content {
            border: 3px solid #e2e8f0;
            padding: 20px;
            margin: 20px 50px;
        }
        .page-actions {
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body class="bg-gray-100">
    <%- include("header.ejs") %>
    <div class="container mx-auto mt-10">
        <a href="/echapter/view/<%= courseId %>/chapter/<%= chapterId %>" class="text-green-600 hover:text-green-800 underline underline-offset-4 font-semibold font">Back to Chapters</a>
    </div>
    <div class="container mx-auto p-4 bg-white rounded-lg shadow-md mt-8 mb-8">
        <h1 class="text-3xl text-gray-800 font-semibold mb-4 mx-12"><%= title %></h1>
        
        <div class="page-content">
            <p><%= content %></p>
        </div>
        <div class="page-actions mt-4">
            <% if (previousPageId) { %>
                <a href="/epage/view/<%= courseId %>/<%= chapterId %>/<%= previousPageId %>" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md">Previous Page</a>
              <% } %>
              
              <!-- Next Page Button -->
              <% if (nextPageId) { %>
                <a href="/epage/view/<%= courseId %>/<%= chapterId %>/<%= nextPageId %>" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md">Next Page</a>
              <% } %>
        </div>
    </div>
</body>
</html>
