<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-course</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <%- include('header.ejs') %>

    <div class="container mx-auto mt-6 p-4 bg-white rounded-lg shadow-lg">
        <h3 class="text-2xl font-semibold">List of Course you Created</h3>

        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <% courses.forEach(function(course) { %>
                <div class="bg-gray-200 p-4 rounded shadow-lg hover:shadow-lg transition duration-300 ease-in-out mb-4 cursor-pointer ">
                    <h2 class="text-lg font-bold mb-2"><%= course.title %></h2>
                    <p class="text-gray-500 mb-2">Educator: <%= course.educatorName %></p> 
                    <a href="/courseDetails/<%= course.id %>">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">View Course</button>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
